<% provide(:title, "Edit Note") %>
<center><h1>Your Note:</h1></center>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <p><b>Title:</b></p>
    <p><%= @note.title %></p>
    <p><b>Body:</b></p>
    <p><%= @note.body %></p>
    <p>
      <%= link_to "Edit this note", edit_note_path(@note), class: "btn btn-primary" %>
      <%= link_to "Go back", notes_path, class: "btn btn-danger" %>
    </p>
  </div>
</div>
<br>
