<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Here's a note for <%= @email_address %>:</h3>
    <p>
      <%= @note.title %>
      <br>
    </p>
    <p>
      <%= @note.body %>
    </p>
  </body>
</html>
